/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* VARIABLES */
:root {
  --player-height: 80px;
  --nav-width:200px;
  --grey-transparent:rgba(255, 255, 255, 0.50);
}

/* COMMON */
.wrapper{
    height: 100vh;
    width: 100%;
}

.flex{
    display: flex;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    width: 100%;
}


/* CONTAINER */
.container{
    height: calc(100% - var(--player-height));
    width: 100%;
}



/* NAVIGATON MENU */
nav{
    height: 100%;
    width: var(--nav-width);
    background-color: black;
    overflow-y: auto;
    color: var(--grey-transparent);
    flex-direction: column;

}

/* logo */
nav .logo-desktop{
    width: 60%;
    padding: 15px 0 15px 20px;
}

nav .logo-mobile{
    display: none;
}


/* explorer */
nav .explorer{
    flex-direction: column;
}

nav .explorer-option a{
    align-items: center;
    gap: 5px;
    position: relative;
}

nav .explorer img{
    width: 10%;
    margin: 5px  0 5px 20px;
    opacity: 0.5;
}

nav .explorer-name{
    font-size: .7rem;
    font-weight: bold;
}

nav .green-vertical{
    height: 100%;
    width: 3px;
    background-color: #1DB954;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: none;
}

/* explorer hover */
nav .explorer-option.home:hover img, 
nav .explorer-option.search:hover img,
nav .explorer-option.libreria:hover img{
    opacity: 1;
}

nav .explorer-option.home:hover .explorer-name,
nav .explorer-option.search:hover .explorer-name,
nav .explorer-option.libreria:hover .explorer-name{
    color: white;
}

nav .explorer-option.home:hover .green-vertical,
nav .explorer-option.search:hover .green-vertical,
nav .explorer-option.libreria:hover .green-vertical{
    display: block;
}




/* playlist */
nav .playlist{
    margin-left:20px;
    margin-top: 20px;
    flex-grow: 1;
}

nav .playlist h4{
    color: white;
    text-transform: uppercase;
    font-size: .8rem;
    padding: 5px 0;
}

nav .playlist .new-playlist{
    padding: 5px 0;
    display: inline-block;
}

nav .playlist .new-playlist a{
    align-items: center;
    gap: 8px;
}

nav .playlist .new-playlist div{
    font-size: .7rem;
    font-weight: bold;
}

nav .playlist .new-playlist i{
    font-size: 2.5rem;
}

nav .playlist .playlist-created{
    font-size: .7rem;
    font-weight: bold;
}

nav .playlist .playlist-created li{
    padding: 6px 0;
}

/* playlist hover */
nav .playlist .new-playlist:hover i, .playlist .new-playlist:hover div{
    color: white;
}

nav .playlist .playlist-created a:hover {
    color: white;
}

/* user */
nav .user a{
    align-items: center;
    gap: 8px;

}

nav .user .download{
    font-size: .7rem;
    
    padding: 0 0 0 18px;
}


nav .user .download img{
    width: 10%;
    opacity: .5;
}

nav .user hr{
    width: 80%;
    margin: 5px auto;
}

nav .user .user-account{
    font-size: .8rem;
    font-weight: bold;
    color: white;
    padding: 0 0 0 20px;
}

nav .user .user-account img{
    width: 12%;
    background-color: grey;
    clip-path: circle();
}





/* CONTENT */
#content{
    width: calc(100% - var(--nav-width));
    height: 100%;
    background-color: #141922;
    overflow-y: auto;
}

/* upgrade bar */
#content .upgrade-bar{
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.50);
    position: sticky;
    justify-content: flex-end;
    align-items: center;
}

#content .upgrade-bar .upgrade-btn{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: .5rem;
    padding: .6rem 1.5rem;
    border: 2px solid white;
    border-radius: 20px;
    margin: 5px;



}

/* section bar */
#content .section-bar ul{
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
    color: var(--grey-transparent);
    text-transform: uppercase;
    font-weight: bold;
    font-size: .7rem;
}

/* albums */

#content .albums{
    padding: 0 1rem;
}

#content .row{
    padding: 0.8rem 0 1rem;
}

#content h2{
    color: white;
}

#content .albums a{
    width: calc(100%/7);
    min-width: 100px;
    max-width: 150px;
}

#content .cover{
    padding-top: 1rem;
    width: 100%;
}

#content .album-name{
    color: white;
    text-align: center;
    font-size: .7rem;
    padding: .4rem 0 .25rem;
    font-weight: bold;
}

#content .album-subtitle{
    color: var(--grey-transparent);
    text-align: center;
    font-size: .5rem;
    font-weight: bold;
}

#content .playlists-description{
    color: var(--grey-transparent);
    padding: 0.5rem 0 0;
    font-size: .8rem;
    font-weight: bold;
}


/* recently played */
#content .recently-played{
    flex-wrap: wrap;
    gap: 20px;
}

/* created for */
#content .created-for{
    gap: 20px;
}



/* popular artis */
#content .popular-artist{
    gap: 20px;
}

#content .popular-artist .cover-img{
    clip-path: circle();
}

/* PLAYER */
#player{
    height: var(--player-height);
    width: 100%;
    background-color: #282828;
}

/* player left */
#player .player-left{
    width: 30%;
    margin: auto 0;
    color: white;
    align-items: center;
}


#player .player-left .song-cover{
    width: 40px;
    margin: auto 10px;
    flex-shrink: 0;
}

#player .player-left .name-artist{
    font-weight: bold;
    margin: auto 5px;
    flex-shrink: 0;

}

#player .player-left .song-name{
    font-size: .7rem;
}

#player .player-left .song-artist{
    font-size: .6rem;
    color: var(--grey-transparent);
}

#player .player-left .favourite-folder{
    gap: 10px;
    color: var(--grey-transparent);
    justify-content: center;
    width: 50%;
}

/* player center */
/* player btn */
#player .player-center{
    width: 40%;
    color: white;
    flex-direction: column;
    justify-content: center;
}
#player .player-center .player-btn{
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#player .player-center .player-btn .center-btn{
    font-size: 1.5rem;
}

#player .player-center .player-btn .left-btns,
#player .player-center .player-btn .right-btns{
    font-size: 1rem;
}

#player .player-center .player-btn i{
    padding: 0 5px;
}

/* player bar */
#player .player-center{
    font-size: .5rem;
    font-weight: bold;
}


#player .player-center .player-bar{
    align-items: baseline;
    justify-content: center;
    
}
#player .player-center .player-bar .duration-bar{
    width: 60%;
    height: 3px;
    background-color: var(--grey-transparent);
    border-radius: 5px;
    margin:15px 20px;
}

#player .player-center .player-bar .duration-bar .riproducing-bar{
    width: 20%;
    height: 3px;
    background-color: white;

    border-radius: 5px;
    
}

/* player right */
#player .player-right{
    width: 30%;
    color: white;
    justify-content: flex-end;
    align-items: center;
    margin: auto 10px;
    gap: 10px;
    font-size: .8rem;
}
#player .player-right .volume-bar{
    width: 75px;
    height: 3px;
    background-color: var(--grey-transparent);
    border-radius: 5px;
    
}

#player .player-right .volume-bar .riproducing-volume-bar{
    width: 40%;
    height: 3px;
    background-color: white;
    border-radius: 5px;
}







/* RESPONSIVE */

/* DESKTOP MEDIUM MD */
@media screen and  (max-width:1100px) {
    
    
}

/* TABLET S */
@media screen and  (max-width:700px) {



    /* PLAYER */
    /* player left */
    #player .player-left .song-cover{
        flex-shrink: 1;
        min-width: 35px;
        margin: auto 5px;
    }

    #player .player-left .favourite-folder{
        flex-direction: column;
        gap: 0;
    }
    
}


/* MOBILE XS */
@media screen and  (max-width:600px) {
    /* CONTAINER */
    .container{
    
    }



    /* NAVIGATON MENU */

    :root {
    --nav-width:50px;
    }
  
    nav{
    width: 50px;
    }

    /* logo */
    nav .logo-desktop{
        display: none;
    }

    nav .logo-mobile{
        display: block;
        width: 70%;
        margin: 5px auto;
    }

    /* explorer */
    nav .explorer{
        margin: 5px 0;
        flex-grow: 1;
    }

    nav .explorer-option img{
        width: 80%;
        margin: 5px auto;
    }

    nav .explorer-option a div{
        display: none;
    }

    /* playlist */
    nav .playlist{
        display: none;
    }

    /* user */
    nav .user .download div, .user .user-account div{
        display: none;

    }

    nav .user .download img{
        width: 50%;
        margin: 5px 12px 5px 10px;
    }

    nav .user .user-account img{
        width: 50%;
        margin: 5px auto;
    }

    nav .user .user-account, nav .user .download{
        padding: 0;
    }


    nav hr{
        display: none;
    }




    /* CONTENT */
    .content{
        
    }



    /* PLAYER */
    /* player left */
    #player .player-left .song-cover{
        min-width: 30px;
        margin: auto 3px;

    }

        
        
    }